<ScrollView>
    <GridLayout class="page-content" loaded="onLoaded">
        <StackLayout>
            <Label textWrap="true" class="h2 text-center m-y-10" text="Welcome to the Colorado Springs Christian 4-Wheelers App"></Label>
            <Image src="~/images/homepage.jpg"></Image> 
            <Label textWrap="true" class="h2 text-center" text="Micah: 4:2 states: Come, let us go up to the mountains."></Label>
            <Label textWrap="true" class="t-20 c-orange font-weight-bold text-center" text="Welcome to the Colorado Springs Christian 4-Wheelers Mobile App!  This is a new idea for the club and we encourage you to use and enjoy it.  Each tab has specific information so please explore them all.  If you find errors or have ideas for improvement, please email csc4w@csc4w.com and thanks for being part of the club!"></Label>
        </StackLayout>  
    </GridLayout>
</ScrollView>